.container-fluid {
    height: 100vh; /* Full viewport height */
  }
  
  .sec1 {
    background-image: url('../../../assets/images/loginbg2.avif');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .row {
    height: 100vh; /* Ensures full height */
  }
    
    .text-white {
      color: #ffffff !important;
    }
    
    .social-icons {
      margin-top: 20px;
    }
    
    .social-icons i {
      margin-right: 10px;
    }
    
    /* Second Part - Login Form and Additional Features */
    .login-form {
      background-color: #ffffff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 20px; /* Adjust padding as needed */
    }
    
    form {
      max-width: 400px;
      margin: 0 auto;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .input-group-text {
      background-color: #f8f9fa;
    }
    
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    
    .btn-outline-primary {
      color: #007bff;
      border-color: #007bff;
    }
    
    .btn-primary:hover,
    .btn-outline-primary:hover {
      color: #ffffff;
      background-color: #0056b3;
      border-color: #0056b3;
    }
    
    .text-danger {
      color: #dc3545;
      font-size: 0.875rem;
    }
    
    .loginbtnsec {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    /* Responsive Design */
    @media (max-width: 768px) {
      .container-fluid {
        padding-top: 20px;
      }
    
      .bg-light,
      .bg-white {
        padding: 3rem 1rem;
      }
    }
    