<section>

    <div class="container mt-4">
    <div class="row">
        <!-- Total Users Card -->
        <div class="col-md-4 mb-4">
        <div class="card bg-light">
            <div class="card-body text-center">
            <h5 class="card-title">Total Users</h5>
            <p class="card-text">{{ totalUsers }}</p>
            <p class="card-text text-muted">Current active users in the system.</p>
            </div>
        </div>
        </div>

        <!-- Total Products Card -->
        <div class="col-md-4 mb-4">
        <div class="card bg-light">
            <div class="card-body text-center">
            <h5 class="card-title">Total Products</h5>
            <p class="card-text">{{ totalProduct }}</p>
            <p class="card-text text-muted">Number of products available for sale.</p>
            </div>
        </div>
        </div>

        <!-- Total Categories Card -->
        <div class="col-md-4 mb-4">
        <div class="card bg-light">
            <div class="card-body text-center">
            <h5 class="card-title">Total Categories</h5>
            <p class="card-text">{{ totalCategory }}</p>
            <p class="card-text text-muted">Different categories of products in the inventory.</p>
            </div>
        </div>
        </div>
    </div>
    </div>


    <app-user-detail></app-user-detail>


    <!-- Pie Chart -->
    <div class="col-lg-4 m-4">
        <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Overview</h5>
            <div class="d-flex justify-content-center ">
            <canvas id="myPieChart" width="200" height="200"></canvas>
            </div>
        </div>
        </div>
    </div>

</section>