

.card {
    min-height: 100px; // Adjust height as needed
  }


  .no-exam {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #666;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.no-exam {
    margin-top: 20px;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .question {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f7fcff;

        h3 {
            margin: 0 0 10px;
            font-size: 18px;
            color: #333;
        }

        .options {
            margin-top: 10px;

            div {
                margin-bottom: 10px;
                display: flex;
                align-items: center;

                input[type="radio"] {
                    margin-right: 10px;
                    accent-color: #3085d6; // Blue color for radio buttons
                }

                label {
                    font-size: 16px;
                    color: #555;
                }
            }
        }
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color: #3085d6;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #2474a0;
        }
    }
}