<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a *ngIf="userRole === 'admin'" class="nav-link text-light p-2 " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
      <i class="fa-solid fa-bars"></i> <!-- toggle icon for side bar-->
    </a>
    <a class="navbar-brand text-light">Quiz App</a>
    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" >About Us</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle text-light p-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="profilePicUrl" alt="Profile" class="rounded-circle" width="40" height="40"> <!-- Add your profile pic URL -->
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><span class="dropdown-item">Name: {{userName}}</span></li>
            <li><span class="dropdown-item">Role: {{userRole}}</span></li>
            <li>
              <a class="dropdown-item" >
                  <button type="button" class="btn btn-secondary" (click)="open(modalContent)">
                    Edit Profile
                  </button>
              </a>
            </li>
            <li><hr></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="userRole === 'admin'" class="offcanvas offcanvas-start bg-dark text-light" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="admin">
          <i class="fa-solid fa-bookmark"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin/userList">
          <i class="fa-solid fa-user"></i> Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >
          <i class="fa-solid fa-box"></i> Products
        </a>
      </li>
    </ul>
    <hr>
    <div class="d-flex justify-content-end mt-auto">
      <a class="btn btn-danger" (click)="logout()">Logout</a>
    </div>
  </div>
</div>



<!-- Modal -->
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="profilePic">Profile Picture</label>
        <input type="file" class="form-control" id="profilePic" (change)="onFileChange($event)">
        <img *ngIf="profilePicUrl" [src]="profilePicUrl" alt="Profile Picture" class="img-thumbnail mt-2" width="150">
      </div>
      <button type="submit" class="btn btn-primary m-1">Submit</button>
    </form>
  </div>
</ng-template>

