

.navbar {
    .offcanvas-toggle {
      background-color: transparent; // Remove background color from toggle button
      border: none;
      padding: 0;
    }
  
    .toggle-icon {
      font-size: 1.5rem;
      color: white; // Set color of toggle icon
    }
  
    .container-fluid {
      display: flex;
      align-items: center;
    }
  
    .btn-danger {
      margin-left: auto; // Align Logout button to the right
    }
  
    .offcanvas {
      .offcanvas-body {
        background-color: #f0f0f0; // Grey background for offcanvas body
      }
  
      .nav-link {
        color: #333; // White color for offcanvas links
      }
  
      .active {
        color: #000; // Dark color for active link
        font-weight: bold;
      }
  
      .nav-link:hover {
        text-decoration: none;
      }
    }
  }
  