
.btn-primary {
    background-color:rgba(54, 162, 235, 0.8);
    border: none;
    color: white;
}

.btn-secondary { 
    background-color: rgba(255, 99, 132, 0.8) ;
    color: white;
    border: none;
}